* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Nav Bar related Styles */
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.primary-color {
    color: #FD6E0A;
}

.nav-title {
    cursor: pointer;
    font-size: 50px;
    font-weight: 800;
    margin-left: 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

nav>ul {
    display: flex;
}

nav>ul li {
    margin-left: 50px;
    list-style: none;
}

.right-header {
    align-items: center;
    margin-right: 5%;
}

.primary-button {
    cursor: pointer;
    background: #FD6E0A;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.right-header button {
    font-size: 20px;
}

/* Header Related Styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    display: flex;
    align-items: center;
    padding: 5% 5% 0% 5%;
    justify-content: space-between;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
    background-position-y: center;
}

.banner img {
    width: 500px;
}

.banner-content {
    max-width: 500px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 10px;
}

.banner-name {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.title-description {
    font-size: 18px;
    color: #757575;
}

.banner-content .title-description {
    margin-bottom: 30px;
}

#contact-btn {
    background: white;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}

/* Main Section */
main {
    margin: 0 auto;
    max-width: 90vw;
}

/* About Section */
.about-me-section {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 100px;
    padding: 20px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-me>.title-description {
    margin-bottom: 40px;
}

.title-data {
    font-weight: 400;
    font-size: 15px;
    font-weight: 600;
}

main > p {
    text-align: center;
    margin: 0px 40px 0px 40px;
}

.about-me-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}
/* What I do Section */
.skill-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.08);
    width: auto;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skill-title {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0;
}

.skill-description {
    text-align: left;
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}
/* Resume Section */
.resume-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 0vw 5vw;
    text-align: left;
}
.resume-section-title{
    margin: 20px 0px;
    font-size: 25px;
}
.resume-year{
    color: #595959;
    margin: 10px 0px;
}
.resume-container .title-description{
    margin-bottom: 40px;
}
.resume-title{
    font-size: 20px;
    color: #1f1e1e;
}
.middle-btn{
    text-align: center;
    margin: 30px 0px;
}
/* footer section */
footer{
    background: #FFF8F3;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 5vw 5vw;
    text-align: left;
}
.footer-container p{
    margin: 30px 0px;
}
.footer-title{
    margin: 30px 0px;
    font-size: 30px;
}
.footer-container img{
    margin-right: 10px;
}
#input{
    width: 40vw;
    height: 8vh;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
}
#message{
    width: 40vw;
    height: 30vh;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
}
.footer-fields{
    display: grid;
}
::placeholder{
    padding-left: 20px;
}